<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<com.cloudbees.hudson.plugins.modeling.impl.auxiliary.AuxModel>
  <displayName>Track</displayName>
  <description>Auxillary model for Tracks on a CD</description>
  <actions/>
  <attributes>
    <template-attribute>
      <name>number</name>
      <displayName>Number</displayName>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>name</name>
      <displayName>Name</displayName>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>length</name>
      <displayName>Length</displayName>
      <helpHtml>Length in seconds</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
</com.cloudbees.hudson.plugins.modeling.impl.auxiliary.AuxModel>
